html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.red .gantt_cell, .odd.red .gantt_cell,
.red .gantt_task_cell, .odd.red .gantt_task_cell {
    background-color: #FDE0E0;
}

.green .gantt_cell, .odd.green .gantt_cell,
.green .gantt_task_cell, .odd.green .gantt_task_cell {
    background-color: #BEE4BE;
}

.yellow .gantt_cell, .odd.yellow .gantt_cell,
.yellow .gantt_task_cell, .odd.yellow .gantt_task_cell {
    background-color: #FBF5A8;
}
.gray .gantt_cell, .odd.gray .gantt_cell,
.gray .gantt_task_cell, .odd.gray .gantt_task_cell {
    background-color: #E6E6E6;
}

.high {
    border: 2px solid #d96c49;
    color: #d96c49;
    background: #d96c49;
}

.high .gantt_task_progress {
    background: #db2536;
}

.medium {
    border: 2px solid #34c461;
    color: #34c461;
    background: #34c461;
}

.medium .gantt_task_progress {
    background: #23964d;
}

.low {
    border: 2px solid #6ba8e3;
    color: #6ba8e3;
    background: #6ba8e3;
}

.low .gantt_task_progress {
    background: #547dab;
}
.status_line {
    background-color: #0ca30a;
}

.deadline {
    position: absolute;
    border-radius: 12px;
    border: 2px solid #585858;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 22px;
    height: 22px;
    margin-left: -11px;
    margin-top: 6px;
    z-index: 1;
    background: url("common/deadline_icon.png") center no-repeat;
}

.overdue-indicator {
    width: 24px;
    margin-top: 5px;
    height: 24px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 17px;
    color: white;
    background: rgb(255, 60, 60);
    line-height: 25px;
    text-align: center;
    font-size: 24px;
}